<div *ngIf="displayedStop">
  <p>Stop name: {{ displayedStop.name }}</p>
</div>

<app-type *ngFor="let news of getTypeForStop(displayedStop)" [newsType]="news.type"></app-type>
<app-titile *ngFor="let news of getTitleForStop(displayedStop)" [newsTitle]="news.title"></app-titile>
<app-subtitle *ngFor="let news of getSubtitleForStop(displayedStop)" [newsDescription]="news.description"></app-subtitle>
<app-image  *ngFor="let news of getImageForStop(displayedStop)" [newsImage]="news.imageUrl"></app-image>