.card-container {
  display: grid;
  grid-template-columns: 0.2fr repeat(3, 1fr) 0.8fr repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  margin-top: 1rem;
  .title-first {
    font-size: 1.5rem;
    font-style: bold;
  }

  .title-second {
    font-style: italic;
  }
}

.card-container.local-bg {
  background-color: rgb(244, 224, 213);
}

.card-container.national-bg {
  background-color: rgb(205, 240, 244);
}

.card-container.international-bg {
  background-color: rgb(209, 245, 209);
}

.news-wrapper {
  grid-row: span 3;
  grid-column-start: 2;
  grid-column-end: span 3;
}

.qr-wrapper {
  grid-row: span 3;
  grid-column-start: 6;
  grid-column-end: span 2;
}

.card-image {
  max-width: 100%;
  max-height: auto;
}

.image-container {
  position: relative;
}

.logo-img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  border: 0.3rem solid black;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

// .description{
//   grid-row-start: 3;
//   grid-row-end: span 5;
// }
